<h1><%= @blogger.name %></h1>
<<<<<<< HEAD
<ul>
  <% @blogger.blogs.each do |blog| %>
  <li><%= link_to blog.title, blog %></li>
  <% end %>
=======

<ul>
	<% @blogger.blogs.each do |blog| %>
		<li><%= link_to blog.title, blog %></li>
	<% end %>
>>>>>>> 56cf2f5bb562c006994b5768923b86f3e11c2362
</ul>
