@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Average);

body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
<<<<<<< HEAD
  font-family: "Average";
}
h1 {
  font-family: 'Fjalla One';
=======
  font-family: 'Average', 'Times New Roman', 'Times', sans-serif;
}

h1 {
  font-family: 'Fjalla One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
>>>>>>> c7a0b5d1d37c2afe2f258e4bccaea28864db6baf
}

img {
  max-width: 100%;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

div.container {
  border: solid gray 1px;
  max-width: 1000px;
  margin: 0 auto;
}

div.column {
  width: 31%;
  margin-left: 1%;
  padding-right: 1%;
  float: left;
}

p:first-letter {
  font-size: 3em;
  float: left;
  line-height: 0.75em;
<<<<<<< HEAD
}

@media only screen and (max-width: 767px){
  div.column{
    float:none;
=======
  /*font-family: 'Fjalla One', sans-serif;*/
  border: solid black 1px;
  margin-right: 0.1em;
}

@media only screen and (max-width: 767px) {
  div.column {
    float: none;
>>>>>>> c7a0b5d1d37c2afe2f258e4bccaea28864db6baf
    width: 100%;
  }
  img {
    display: none;
  }
}

<<<<<<< HEAD
@media print{
  div.column{
    /*float:left;*/
    width: 47%;
=======

@media print {
  div.column {
    width: 48%;
>>>>>>> c7a0b5d1d37c2afe2f258e4bccaea28864db6baf
  }
}
