<!DOCTYPE html>
<html>
<head>
  <title>Stalking Stars</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav id='header'>
      <h1><a href='/'>StarStalker.com</a></h1>
      <ul id='links'>
        <li><a href='/about'>about</a></li>
        <li><a href='/stars'>stars</a></li>
      </ul>
  </nav>
    <%= yield %>
</body>
</html>
