/* Coolors Exported Palette - coolors.co/faf3dd-c8d5b9-8fc0a9-68b0ab-4a7c59 */

$color1: #faf3dd; //rgba(250, 243, 221, 100)
$color2: #c8d5b9; //rgba(200, 213, 185, 100)
$color3: #8fc0a9; //rgba(143, 192, 169, 100)
$color4: #68b0ab; //rgba(104, 176, 171, 100)
$color5: #4a7c59; //rgba(74, 124, 89, 100)