@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

h1{
  color: #fff;
  padding: 1%;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
#compliment {
  text-align: center;
  padding: 12%;
  color: #fff;
  font-size: 35px;
  font-family: 'Lora';
}

#try {
  padding: 0 15%;
}

.box {
  height: 40px;
  width: 200px;
  border: 1px solid #fff;
  float: left;
  text-align: center;
  margin: 0 10% 10% 10%;
  padding: 2% 1% 2% 1%;
  font-size: 16px;
  font-family: 'Source Sans Pro';
}
