<h2>BUTTONS</h2>

<h4> Button Tag: </h4>
<button>This is using the Button tag</button>

<h4> Input Button: </h4>
<input type='submit'>

<h4> Link that is a Button: </h4>
<a href="#" class="button">What is a link button</a>

<h4> Big Button: </h4>
<a href="#" class="button large">BIG button</a>

<h4> Primary Button: </h4>
<a href="#" class="button">The main button</a>

<h4> Secondary Button: </h4>
<a href="#" class="button secondary">The secondary button</a>

<h4> Dangerous Button: </h4>
<a href="#" class="button alert">The dangerous alert button</a>

<h4> Secondary Dangerous Button: </h4>
<a href="#" class="button secondary alert">The conbination of secondary and alert button</a>
