<h2>FORMS</h2>
<h4> Inputs: </h4>
<p>Enter any text input</p>
<input type='text'>

<p>Enter any password input</p>
<input type='password'>

<p>The checkbox, check me! </p>
<input type='checkbox'>

<p>The Radio box checks</p>
<input type='radio' value='red' name='color' checked/>
<input type='radio' value='blue' name='color' />

<h4> Select Box: What is your favorite color? </h4>
<select>
  <option> Pick a Color </option>
  <option> Blue </option>
  <option> Yellow </option>
  <option> Green </option>
  <option> Pink </option>
  <option> Red </option>
  <option> Purple </option>
  <option> Gray </option>
  <option> Black </option>
  <option> Orange </option>
</select>

<h4> The Text Area w/pre-populated text: </h4>
<textarea>Bacon ipsum dolor amet cow hamburger rump turkey tri-tip prosciutto beef ball tip filet mignon kevin. Tenderloin drumstick ground round turducken pork loin shankle. Frankfurter jerky venison pork belly short loin tri-tip. Shankle picanha chicken flank bacon bresaola capicola tail leberkas beef ribs fatback ribeye. Short loin meatball ham pig bresaola boudin pork, spare ribs jerky drumstick biltong pork loin swine brisket jowl. Kielbasa beef andouille pastrami. Jowl short loin pork chop meatball kevin sausage.</textarea>
